<% include partials/header %>
        <div class="container">
          <div class="page-header">
                  <h2>Lessons</h2>
          </div>
        <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Lesson Name</th>
                          <th>Difficulty Level</th>
                          <th>Completed</th>
                          <th>Take Test</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i<tests.length; i++) {%>
                        <tr>
                          <td><%= tests[i].name %></td>
                          
                          <td>2</td>
                          <%if (tests[i].completed > 0) { %>
                            <td>Yes</td>
                            <td><a href=""><button type="button" class="btn btn-success">Evaluate Results</button></a></td>
                          <% } else { %>
                            <td>No</td>
                            <td><a href="/testing?id=<%=i%>"><button type="button" class="btn btn-success">Try Lesson</button></a></td>
                          <% } %>
                        </tr>
                        <% } %>
                      </tbody>
          </table>
        </div>
<% include partials/footer %>